// .mat-stepper-horizontal {
//     margin-top: 8px;
//   }
  
//   .mat-form-field {
//     margin-top: 16px;
//   }
  


.login-content {
    width: 100% !important;
    height: 70vh;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}

.login-content-area {
    color: #fff;
}

.login-content-area ion-item ion-icon {
    margin-right: 7px;
}

.login-content-area ion-label {
    color: #fff;
    --color: #1aa3ff !important;
}

.login-content-area input {
    color: #fff;
}
    
